body{
	background-color: rgb(183, 136, 226);
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
}

.cabecalho{
background-color: antiquewhite;
color: rgb(0, 0, 0);
font-size: 27px;
margin-top: 0;
padding: 1px; 
text-align: center;
}
.principal{
	background-color: rgb(183, 136, 226);
	padding: 180px;

	display: flex;
	justify-content: center;
}
.gato{
	width: 600px;
	border-radius: 90%;
}
.rodape{
	background-color: antiquewhite;
	color: rgb(0, 0, 0);
	font-size: 27px;
	margin-top: 1px;
	padding: 1px;
	text-align: center;
}
